@import "~@blueprintjs/core/lib/scss/variables";

.main {
  height: 100%;
  display: flex; flex-direction: column;
}

.header {
  flex: 0 0 auto;
  border-bottom: solid 1px $pt-divider-black;
}

.body {
  flex: 1 1 0px;
  overflow: auto;
  padding: $pt-grid-size;
}

.footer {
  flex: 0 0 auto;
  border-top: solid 1px $pt-divider-black;
}

.item {
  margin-bottom: $pt-grid-size;
}