@import "~@blueprintjs/core/lib/scss/variables";

.main {
    padding: $pt-grid-size;
}

.name {
    margin-bottom: $pt-grid-size / 2;
}

.description {
    font-size: $pt-font-size-small;
    color: $pt-text-color-muted;
}