@import "~@blueprintjs/core/lib/scss/variables";

.main {
  display: flex;
  // supposed this is the top-level container
  height: 100vh;
}

.panel1,
.panel2,
.panel3 {
  flex: 1 1 0px;
  overflow: hidden;
  height: 100%;
}

.panel1 {
  border-right: solid 1px $pt-divider-black;
  background: white;
}

.panel3 {
  border-left: solid 1px $pt-divider-black;
  background: white;
}