@import "~@blueprintjs/core/lib/scss/variables";

.main {
    display: flex;
    // supposed this is the top-level container
    height: 100vh;
}

.panel {
    flex: 1 1 0px;
    height: 100%;
    overflow-y: auto;
}

.groupList {
    border-right: solid 1px $pt-divider-black;
    background: white;
}

.groupDetail {
    flex: 1 1 0px; height: 100%; overflow-y: auto;
}

.userDetail {
    border-left: solid 1px $pt-divider-black;
    background: white;
}