@import "~@blueprintjs/core/lib/scss/variables";

.main {
  display: flex; flex-direction: column;
  height: 100%;;
}

.title {
  flex: 0 0 auto;
  text-align: center;
  padding: $pt-grid-size;
}

.title > h4 {
  margin: 0;
}

.header {
  flex: 0 0 auto;
  padding: $pt-grid-size;
  padding-top: 0;
  border-bottom: solid 1px $pt-divider-black;
  display: flex;
}

.header > *:not(:last-child) {
  margin-right: $pt-grid-size;
}

.headerTabs {
  flex: 2 1 0px;
}

.headerNew {
  flex: 1 1 0px;
}

.body {
  flex: 1 1 0px;
  overflow: hidden;
}

.info {
  padding: $pt-grid-size;
  height: 100%;
  overflow: auto;
}
