@import "~@blueprintjs/core/lib/scss/variables";

.main {
  display: flex; flex-direction: column;
  height: 100%;
}

.title {
  flex: 0 0 auto;
  text-align: center;
  padding: $pt-grid-size;
}

.title > h4 {
  margin: 0;
}

.body {
  flex: 1 1 0px;
  padding: $pt-grid-size;
  overflow: hidden;
}